<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VIDEO CAPTAIN | <%- movieName.replace(/\.\w+$/, '') %></title>
  <link rel="stylesheet" href="/assets/style.css">
  <script src="/assets/player.js"></script>
</head>
<body>
  <div class="viewer">
    <main>
      <a href="/"> Back to Browse</a> 
      <video id="videoPlayer" controls autoplay>
        <source src="/video/<%- encodeURIComponent(movieName) %>" type="video/mp4">
      </video>
      <h1><%- movieName.replace(/\.\w+$/, '').replace(/^\d\d /, '') %></h1>
    </main>
    <aside>
      <% additionalEpisodes.forEach(({ file }, index) => { %>
        <% if (movieName === file) { %>
          <a class="video-thumbnail current-video" href="/watch/<%- encodeURIComponent(file) %>"><%= file.replace(/\.\w+$/, '').replace(/^\d\d /, '') %></a>
        <% } else { %>
          <a class="video-thumbnail" href="/watch/<%- encodeURIComponent(file) %>"><%= file.replace(/\.\w+$/, '').replace(/^\d\d /, '') %></a>
        <% } %>
      <% }) %>
      <!-- HACK to get the last row to always justify nicely -->
      <span class="hack-episode-alignment"></span>
      <span class="hack-episode-alignment"></span>
      <span class="hack-episode-alignment"></span>
      <span class="hack-episode-alignment"></span>
      <span class="hack-episode-alignment"></span>
      <span class="hack-episode-alignment"></span>
      <span class="hack-episode-alignment"></span>
      <span class="hack-episode-alignment"></span>
    </aside>
  </div>
  <script>
    getPlayer().focus()
  </script>
</body>
</html>